.choose-column-de-btn{
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
}

.remove-cat-cols-de{
    border: none;
    background-color: inherit;
    color: red;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.selected-column-btn-de{
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(133, 254, 126);
    margin-bottom: 10px;
}


.plan-de{
    background-color: rgb(228, 223, 232);
    padding: 10px;
}