@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");


html{
    scroll-behavior: smooth;
}
body{
    margin-left: 20px;
}

.title{
    margin-left: 20px;
}

.input-head{
    padding: 10px;
    font-size: 20px;
}

.section-btn{
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
}

.section{
    padding: 10px;
    background-color: rgb(239, 243, 243);
    margin-top: 5px;
}