.horizontal-table {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .section{
    margin-left: 10px;
  }

  .btn{
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
  }

  .replace-input{
    width: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
  }

  .fix{
    color: red;
  }

  .fixer{
    background-color: rgb(100, 100, 220);
    color: white;
  }
 
.clicked{
    background-color: rgb(54, 142, 30);
    color: white;
}
  
  .table-row {
    display: flex;
    flex-direction: column;
    padding: px;
    background-color: white;
  }
  
  .table-cell {
    padding: 5px;
    border: 1px solid #dddddd;
  }
  
  .key {
    font-size: 17px;
    background-color: #f2f2f2;
  }
  
  /* Add any additional styling as needed */
  