.select-algo-type-mlalgo{
    border: none;
    margin-left: 10px;
    padding: 10px;
}

.input-feature{
    padding: 5px;
    border: none;
    margin: 3px;
}

.paramsKey{
  display: block;
  columns: 4;
  width: 100%; /* Set the desired width */
  padding: 10px; /* Add padding as needed */
  border: 1px solid #ccc; /* Add borders as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
  background-color: #f5f5f5; /* Set the background color */
  margin: 10px 0; /* Add margin to control spacing */
}

.predict-section {
    display: flex;
    align-items: flex-start;
  }
  
  .feature-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .feature-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  .predict-btn{
    border: none;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(133, 254, 126);
    margin-bottom: 10px;
} 

.train-btn{
    border: none;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(133, 254, 126);
    margin-bottom: 10px;
}