<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Selection</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/ana.css">
</head>
<body>
    <div class="container">

    <h3 class="m-3">Simplified ML Training workflow</h3>
    <div class="table">
        <form method="POST">
            <!-- <input type="file" name="file"> -->
            <input type="number" name="input_value" placeholder="Enter a filter value">
            <button type="submit" class="btn btn-primary">Display</button>
        </form>
    <table>
            <thead>
                <tr>
                    {% for col in column_names %}
                <th>
                    {{col}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in row_data %}
          <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      shape = {{shape[0] }} X {{ shape[1]}}

    <div>
        Features that you want to include <br/>
        {% for col in column_names %}
        <label class="button-checkbox">
            <input type="checkbox" id="myCheckbox">
            <span class="button">{{col}}</span>
        </label>    
            {% endfor %}
<br/>
            Select the Target Value (which you want to predict)<br/>
            {% for col in column_names %}
            <label class="button-checkbox">
                <input type="checkbox" id="myCheckbox">
                <span class="button">{{col}}</span>
            </label>    
                {% endfor %}

             <h4>Train Test Split</h4>
             
             <label for="test_size">Test Size:</label>
             <input type="text" name="test_size" id="test_size" placeholder="Enter test size">
             <br>
     
             <label for="val_size">Validation Size:</label>
             <input type="text" name="val_size" id="val_size" placeholder="Enter validation size">
             <br>
     
             <label for="shuffle">Shuffle:</label>
             <input type="checkbox" name="shuffle" id="shuffle">
             <br>

    
        </div>

    </div>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>